Django==4.2.26
djangorestframework==3.16.1
django-cors-headers==4.8.0
django-allauth==65.13.0
dj-database-url==0.5.0
psycopg2-binary==2.9.11
gunicorn==25.1.0
whitenoise==6.6.0
python-dotenv==1.1.1
PyJWT==2.10.1
cryptography==45.0.6
pyOpenSSL==25.1.0
setuptools>=65.0.0